<div id="box">

<h3>Bookmarks</h3>

<table>
  <% @group.each do |group| %>
    <tr>
      <td><%= group.title %></td>

      <td><% group.bookmarks.each do |bookmark| %>
      <%= bookmark.bmark %>
      <% end %></td>
      <td><%= link_to 'Show', group_path(group) %></td>
      <td><%= link_to 'Edit', edit_group_path(group), id: 'edit_group'%></td>
      <td><%= link_to 'Delete', group_path(group),
              method: :delete,
              data: { confirm: 'Are you sure?' },
              id: 'delete_group' %></td>


    </tr>




  <% end %>
</table>

<%= link_to 'New Group', new_group_path %>
</div>
