<p>
  <strong>Category:</strong>
  <%= @group.title %>
  <table>
</p>
<% @group.bookmarks.each do |bookmark| %>
<tr>
  <td><a target="_blank" href="http://<%= bookmark.bmark %>"><%= bookmark.bmark %></a></td>
  <td>
  <%= link_to 'Delete', [bookmark.group, bookmark],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
  </td>
  <p>
</tr>
<% end %>

</table>
<h3>Add a Bookmark to <%= @group.title%></h3>
<%= form_with(model: [ @group, @group.bookmarks.build ], local: true) do |form| %>
  <p>
    <%= form.text_field :bmark, id:"text_field_id" %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back', groups_path %>
